<h1><%= @sub.name %> Topics</h1>
<%= link_to 'Create topic', new_sub_topic_path(@sub) %>
<br />
<ul>
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.title, [@sub, topic] %>
    </li>
  <% end %>
</ul>